body {
    background-color: #6495ed;
    font: #272e47 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: #f7f7e2;
}

ol {
text-align: left;
}
ul {
text-align: left;
}