body {
    background-color: #6495ed;
    font: #312f21 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
}

html, body {
    height: 100%;
}

#content {
    position: relative;
    overflow-x: hidden;
    margin-left: 0.67em;
    margin-right: 0.67em;
    margin-top: 0;
    margin-bottom: 0;
    flex: 1 0 auto;
}

@font-face {
    font-family: 'RaveParty';
    src: url('/fonts/Ravebold.ttf') format('truetype'),
         url('/fonts/RavePartyBold.eot') format('embedded-opentype'),
         url('/fonts/RavePartyBold.woff') format('woff'),
         url('/fonts/RavePartyBold.woff2') format('woff2');
  }
@import url('/fonts/Ravebold.ttf');

h1 {
    color: #f7f7e2;
}

li {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
}

.headnav {
    position: fixed;
    width: inherit;
    margin: 0;
    padding: 0;
    z-index: 1;
    top: 0;
    left: 2%;
    right: 2%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
  }

#cchead1 {
    font-family: 'RaveParty', Arial, Helvetica, sans-serif;
    color:#6495ed;
    font-size: 75px;
    position: absolute;
    padding-left: 0%;
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
    padding-left: 2%;
    pointer-events: none;
}

#cchead1:hover {
    color:#f7f7e2;
    filter: blur(1rem);
    transition: 0.25s;
}

#cchead {
    font-family: 'RaveParty', Arial, Helvetica, sans-serif;
    color:#6495ed;
    font-size: 75px;
    transition: 0.5s;
    animation-duration: 2.5s;
    animation-name: cchead;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    cursor: pointer;
    display: flex;
    padding-left: 2%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
}

#cchead:hover {
    filter: blur(1rem);
    transition: 0.5s;
}

#cchead:active {
    color: #f7f7e2;
    transition: 0.5s;
    pointer-events: none;
}

#cchead1:active {
    color: #f7f7e2;
    transition: 0.5s;
}

@keyframes cchead {
    from {
        text-shadow: -5px -5px #6495ed;
    }

    to {
        text-shadow: 5px 5px #6495ed;
      }
}

#scrollslog {
    overflow-x: hidden;
    width: 25%;
    margin-left: 55%;
    color: #312f21;
    text-shadow: 0 0 5px #312f21;
    border-radius:32px;
    font-size: 18px;
    background-color: #80808050;
    filter: drop-shadow(0 0 10px #272e4750);
}

#scrollslog2 {
    animation: marquee 15s linear infinite;
    display: inline-block;
    padding-left: 100%;
}

#whitehead {
    background-color: #f7f7e2;
    border-radius: 0px 0px 25px 25px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden;
}

.headbox {
    white-space: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow-x: hidden;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.navblue {
    color: #6495ed;
    background-color: #272e47;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.8);
}

.navgrey {
    color: #f7f7e2;
    background-color: #808080;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.1),
    inset 0 -2px 3px rgba(0,0,0,0.1),
    0 1px 0px rgba(255,255,255,0.8);
}

.linkblue:visited {
    color: #808080;
    text-shadow: 0px 0px 5px #808080;
    transition: 0.15s;
}

.linkblue:link {
    color: #6495ed;
    text-shadow: 0px 0px 2px #f7f7e250;
    transition: 0.15s;
}

.linkblue:hover {
    color: #f7f7e2;
    text-shadow: 0px 0px 15px #f7f7e2;
    transition: 0.15s;
}

.linkblue:active {
    color: #6495ed;
    text-shadow: 0px 0px 25px #6495ed, 0 0 5px #272e47;
    transition: 0.25s;
}

.linkgrey:visited {
    color: #272e47;
    text-shadow: 0px 0px 5px #272e47;
    transition: 0.15s;
}

.linkgrey:link {
    color: #f7f7e2;
    text-shadow: 0px 0px 2px #272e47;
    transition: 0.15s;
}

.linkgrey:hover {
    color: #f7f7e2;
    text-shadow: 0px 0px 15px #f7f7e2;
    transition: 0.15s;
}

.linkgrey:active {
    color: #6495ed;
    text-shadow: 0px 0px 25px #6495ed, 0 0 5px #272e47;
    transition: 0.25s;
}

.marquee {
    width: 100%;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    pointer-events: none;
}

.scrolltext {
    color: #312f2190;
    font-family: 'RaveParty', Arial, Helvetica, sans-serif;
    font-size: 200px;
    transition: 0.5s;
    pointer-events: none;
}

.marquee .scrolltext {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {transform: translateX(0);}
    100%{transform: translateX(-100%);}
}

/*CAROUSEL*/
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #272e4750);
    perspective: 100px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080;
    position: relative;
    margin: 5% auto;
    margin-top: 15%;
    border-radius: 20px 5px 20px;
    white-space: nowrap;
    overflow: hidden;
    object-fit: contain;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #272e47;
    counter-increment: item;
  }
  
  #ctext1 {
    z-index: 1;
    top: 0;
    position: fixed;
    color: #f7f7e2cc;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    white-space: normal;
    padding-top: 5%;
    width: 80%;
    height: 100px;
  }

  #ctext2 {
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align: center;
    bottom: 0;
    position: fixed;
    color: #f7f7e2cc;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
    word-wrap: break-word;
    padding-bottom: 5%;
    width: 80%;
    height: 100px;
  }

  #ctext {
    width: 50%;
    height: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .carousel__slide:nth-child(even) {
    background-color: #808080;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #f7f7e2;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .carousel__navigation-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #272e47c2;
    background-clip: content-box;
    border: 0.25rem solid #f7f7e2;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }

  #slide1 {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #f7f7e2);
  }
  #slide2 {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #272e47);
  }
  #slide3 {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #f7f7e2);
  }
  #slide4 {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #272e47);
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 100%;
    transform: translateY(-50%);
    border-radius: 20px 20px 20px 20px;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #272e47c2;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #f7f7e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    font-weight: bold;
    color: #f7f7e2;
    content: "&#129172;";
    font-size: 8em;
  }
  
  .carousel::after {
    font-weight: bold;
    color: #f7f7e2;
    content: "&#129174;";
    font-size: 8em;
  }

  /*end of CAROUSEL*/

  .gif1 {
    filter: drop-shadow(0 0 10px #272e47);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    background-color: #808080;
    border-radius: 5px 20px 5px;
    white-space: nowrap;
    overflow: hidden;
    object-fit: contain;
    margin-left: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #gif1 {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 10px #272e47);
  }

  #footer {
    background-color:#f7f7e2;
    color:#808080;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 2%;
    border-radius: 10px 10px 0px 0px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
  }

  #footlogo {
    width: 72px;
    height: 72px;
  }
  
  #allbrands {
    font-size: 12px;
    color: #808080b0;
    display: flex;
    flex-direction: column;
  }

  #footlegal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #legal1 {
    padding: 2%;
    cursor: pointer;
    transition: 0.1s;
  }

  #legal1:hover {
    color: #6495ed;
    transition: 0.1s;
  }

  #brands1 {
    padding: 2%;
  }
  #allrights1 {
    color: #808080e8;
  }




