body {
    background-color: cornflowerblue;
    font: black 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: whitesmoke;
    padding: 10px;
    margin: auto;
    max-width: 80%;
    text-align: justify;


}

.reviews {
color: #272e47 100px;
padding: 10px;
margin: auto;
max-width: 80%;
text-align: justify;

}
    
