body {
    background-color: cornflowerblue;
    font: black 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: whitesmoke;
}
#mbox {size: 85px;}
.contact {justify-content: right;}